{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
  {% if edit %}
      <h1 class="text-center mt-4 fw-bold">Edit Student</h1>
    {% else %}
      <h1 class="text-center mt-4 fw-bold">Create New Student</h1>
    {% endif %}

    <form class="container" method="POST" enctype="multipart/form-data" class="card p-4 shadow">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
{% endblock content %}
  