{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="max-w-lg mx-auto mt-10 bg-white p-8 rounded-2xl shadow-2xl border border-gray-200 transition">
    
    {% if task %}
      <h2 class="text-3xl font-extrabold text-gray-800 mb-6 relative inline-block">
      🆕 Update New Task
      <span class="absolute -bottom-2 left-0 w-1/2 h-1 bg-gradient-to-r from-blue-500 to-purple-500 rounded-full"></span>
    </h2>
    {% else %}
      <h2 class="text-3xl font-extrabold text-gray-800 mb-6 relative inline-block">
      🆕 Create New Task
      <span class="absolute -bottom-2 left-0 w-1/2 h-1 bg-gradient-to-r from-blue-500 to-purple-500 rounded-full"></span>      
    {% endif %}
      
    

    <form method="post" class="space-y-6">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="w-full bg-blue-600 text-white px-5 py-2 rounded-lg font-semibold shadow-md transition-all duration-300 ease-in-out hover:bg-blue-700 hover:shadow-lg hover:scale-105 hover:-translate-y-0.5 active:scale-95">➕ Add Task</button>
    </form>
  </div>
{% endblock %}
